* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  font-family: sans-serif;
  color: #3b3b4f;
  height: 100vh;
  /* background-image: url("./static-icon/sky.jpg"); */
  background-image: linear-gradient(to bottom, white, lightblue, skyblue);
  background-size: cover;
  background-repeat: no-repeat;
}

#city-input {
  min-width: 300px;
  max-width: 400px;
}

#weather-container {
  width: 700px;
  min-height: 600px;

  /* use bootstrap class="d-flex justify-content-center" instead */
  /* display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center; */
  border-radius: 15px;
  border-style: outset;
  box-shadow: 5px 10px 8px #888888;
  color: #3b3b4f;
  background-color: antiquewhite;
}
