* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  --bs-body-font-family: var(--bs-font-monospace);
  --bs-body-line-height: 1.4;
  --bs-body-bg: var(--bs-gray-100);
}

#weather-form {
  position: relative;
  display: flex;
  align-items: center;
}

#city-input {
  min-width: 300px;
  max-width: 400px;
}

#weather-container {
  width: 50%;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  border-radius: 15px;
  color: white;
  background-color: rgb(48, 97, 187);
}
