* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  --bs-body-font-family: var(--bs-font-monospace);
  --bs-body-line-height: 1.4;
  --bs-body-bg: var(--bs-gray-100);
}

#weather-form {
  position: relative;
  display: flex;
  align-items: center;
}

input {
  min-width: 300px;
}

.wrapper {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
